body{
    background-color: rgb(255, 227, 194);
}
h2{
    text-align: center;
}

select{
    text-align: center;
    display: block;
    margin:0 auto;
    height: 40px;
    width:150px;
    border-radius: 4px;
    
}
.save{
    font-size: large;
    border-radius: 5px;
    border-radius: 4px;
    display: block;
    margin:0 auto;
}
.choose{
    display: block;
    margin:0 auto;
}
.a{
    font-size: large;
    border-radius: 5px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
p{
    font-size: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
textarea{
    resize: none;
    width: 300px;
}
.choose:active{
    background: rgb(139, 139, 139);
    transform: translateY(3px);
}
/*------------------------------------------------------*/
.like{
    display: block;
    margin:0 auto;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;

    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
  }
.like:active{
    transform: translateY(3px);
}
.like::before,
.like::after {
  content: "";  /* 疑似要素に必須 */
  width: 50%;   /* ハートの丸い部分の大きさにかかわる */
  height: 80%;  /* ハートの高さにかかわる */
  background: #E0548E; /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
}
.like::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%;                 /* 左からの位置を指定 */
}
.like::after {
  transform: rotate(45deg);  /* 右に回転 */
  right: 14%;                /* 右からの位置を指定 */
}
